@charset "utf-8";

/*
    mapit colors
    main: #5389d6;
    background-color: #f3efe0;
    mouseover: #a9c4eb;
    
*/

/* map it 専用 */
body {
    padding-top: 50px;
    background-color: #f3efe0;
}

h1, h2{
    padding: 1em;
    color: #5389d6;
}

h3 {
     color: #5389d6;   
}

.headerbtn {
    border-style: none;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    height: 50px;
}

.headerbtn:focus,
.headerbtn:hover {
    color: #a9c4eb;
    border: 0px;
}

.mapit-panel {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 8px gray;
}

.transparent {
    background-color: rgba(255, 255, 255, 0.5);
}

/* フォーム関係 */
.formcontainer {
    background-color: #ffffff;
    box-shadow: 0 0 2px gray;
    border-radius: 8px;
    margin: 10px;
    padding-bottom: 10px;
}

.form-group {
    padding: 10px 10px 0 10px;
}

.photo-form-box {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.point_infomation {
    padding-top: 10px;
}
.pointlabel {
    margin-top: 10px;
    font-weight: 700;
    color: #000;
}

.pointdescription {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-y: auto;
    background-color: #fff;
}

.point_tbllabel {
    width: 120px;
    font-weight: 700;
}

.point_btns_container {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

.pointlist_box {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    height: 200px;
}

.pointlist_box > a {
    position: absolute;
    right: 25px;
    bottom: 5px;
}

.pointlist_box > .leftbox {
    width: 40%;
    height: 100%;
    float: left;
}

.leftbox > span {
    display: inline-block;
    width: 100%;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* Opera9,10対応 */
}
.leftbox > span > img {
     margin-right: 5px;   
}

.leftbox > p,
.rightbox > p {
    margin: 0;
}

.pointlist_box > .rightbox {
    width: 55%;
    float: right;
    height: 100%;
}

.leftbox > .photobox {
    height: 100px;
    border: 1px solid #ccc;

}

.rightbox {
    padding:; 10px;
}



.rightbox > .description {
    border: 1px solid #ccc;
    overflow-y: auto;
    height: 100px;
    width: 100%;
    background-color: #fff;
    padding: 0;
}

/* コレクション関連 */
.edit_collection_link:hover {
    color: #a9c4eb;
    text-decoration: none;
}

/* public コレクション一覧 */
.tablecontainer {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.collections_table {
    table-layout: fixed;
}

.tablecontainer .icon
{
    display: inline-block;
    width: 60px;
    height:60px;
}


.tablecontainer .textoverflow
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}

/* カバー画像関連 */
.cover {
    width:100%;
    height:230px;
    background: url("/images/cover.jpg") center center no-repeat;
    background-size: cover;
}

.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
  width: 100%;
}

.cover .cover-inner .cover-contents h1 {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 0 20px 0;
  padding: 0.8em 0 0.8em 0;
  color: #5389d6;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 768px) {
    .cover {
    width:100%;
    height:230px;
    background: url("/images/cover.jpg") center center no-repeat;
    background-size: cover;
    }
    
    .cover .cover-inner {
      height: 100%;
      margin: auto;
      display: table;
      width: 100%;
    }
    
    .cover .cover-inner .cover-contents h1 {
      background-color: rgba(255, 255, 255, 0.5);
      margin: 0 0 20px 0;
      padding: 0.8em 0 0.8em 0;
      color: #5389d6;
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 0.15em;
    }
    
    .cover .cover-inner .cover-contents {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        max-width: 1200px;
        height:600px;
        margin-left: auto;
        margin-right: auto;
        background: url("/images/cover_large.jpg") center center no-repeat;
        background-size: cover;
        box-shadow: inset 0 0 20px #f3efe0, 
                    inset 0 0 20px #f3efe0, 
                    inset 0 0 20px #f3efe0, 
                    inset 0 0 20px #f3efe0;
    }
    
    .cover .cover-inner {
      height: 100%;
      margin: auto;
      display: table;
      width: 900px;
    }
    
    .cover .cover-inner .cover-contents h1 {
      background-color: rgba(255, 255, 255, 0.5);
      margin: 0 0 20px 0;
      padding: 0.8em 0 0.8em 0;
      color: #5389d6;
      font-weight: bold;
      letter-spacing: 0.15em;
    }
    
    .cover .cover-inner .cover-contents {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative;
    }
}

.main{
    padding: 5px 5px 50px 15px;

    /*padding-left: 35px; /* open menu width = 30px*/
}

.clearfix::after {
    display: block;
    clear: both;
}


.plus-icon {
    float: right;
    cursor: pointer;
    font-size: 1.8em;
    padding: 1em 0 1em 0;
    margin-right: 10px;
    text-align: center;
}

.plus-icon:hover {
    color: white;
}

#st-trigger-effects {
    margin-top: 65px;
    position:fixed;
    left: 0px;
    height: 100px;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
}

/* open-menu tabstyle
.open-menu {
    width: 30px;
    height: 40px;
    background-color: #5389d6;
    border-radius: 0 8px 8px 0;
    font-size: 1.3em;
    color: #ffffff;
    text-align: center;
    outline: none;
    cursor: pointer;
    border-style: none;

}

.open-menu:hover {
    background-color: #ffffff;
    color: #5389d6;
}
*/
.open-menu {
    width: 10px;
    height: 100%;
    background-color: #5389d6;
    border-radius: 0 8px 8px 0;
    padding: 0;
    font-size: 0.8em;
    color: #ffffff;
    text-align: center;
    outline: none;
    cursor: pointer;
    border-style: none;

}

.open-menu:hover {
    background-color: #ffffff;
    color: #5389d6;
}

/* slider transitions のカスタマイズ */
.st-container {
    padding-top: 50px;
}

.st-menu .h2 {
	text-align: left;
}


/* bootstrap 調整 */

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80%;
  margin: auto;
}

.navbar {
    box-shadow: 0 1px 1px gray;
}

/* navbar 全体の背景色とボーダーカラー */
.navbar-inverse {
    background-color: #5389d6;
    border-color: #5389d6;
}

/* navbar テキストカラー */
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav .sign-inout {
    padding: 5px;
    margin-top: 7px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 10%;
}

.navbar-inverse .navbar-nav .sign-inout:focus, 
.navbar-inverse .navbar-nav .sign-inout:hover {
    background-color: #ffffff;
    border-color: #286bcc;
    color: #5389d6;
}

/* navbar Brandのカラー */
.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 2.0em;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    color: #a9c4eb;
    background-color: transparent;
}

/* navbar hover,focus時のテキストカラー */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #a9c4eb;
    background-color: transparent;
}

/* navbar ドロップダウン(親)のカラー */
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover
{
    color: #3e6962;
    background-color: #c3ede7;
}

/* navbar ドロップダウン(子)のボックスカラー */
.dropdown-menu {
    background-color: #65baad;
    border: 1px solid #3e6962;
    border: 1px solid #3e6962(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
    box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
}

/* navbar ドロップダウン(子)テキストカラー */
.dropdown-menu>li>a {
    color: #ffffff;
}
/* navbar ドロップダウン(子)focus,hover時のカラー */
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #26534c;
    background-color: #c3ede7;
}
/* navbar ドロップダウン(子)内の区切り線(class=”divider”)のカラー */
    .dropdown-menu .divider {
    background-color: #3e6962;
}
/* navbar 画面サイズ767px以下の時のカラー */
@media (max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #26534c;
        background-color: transparent;
    }
    /* ドロップダウンactive設定時のカラー */
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
        color: #ffb163;
        background-color: #d4ede9;
    }
}

/* navbar ハンバーガー四角枠 */
.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}
/* navbar ハンバーガー三本線 */
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
/* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #ffffff;
}
/* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    border-color: #5389d6;
}
/* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
.navbar-inverse .navbar-toggle:focus > .icon-bar,
.navbar-inverse .navbar-toggle:hover > .icon-bar {
    background-color: #5389d6;
}


