<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <%= link_to 'Map It !', root_url, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Help', '/help'%></li>
          <li><button type="button" class="headerbtn" data-toggle="modal" data-target="#about_dialog">About</button></li>
          
          <% if logged_in? %>
            <li><button class="headerbtn" data-toggle="modal" data-target="#signout_dialog">Sign Out</button></li>
          <% else %>
            <li><button class="headerbtn" data-toggle="modal" data-target="#signin_dialog">Sign In</button></li>
          <% end %>
        </ul>

      </div>
    </div>
  </nav>
  
  <%= render 'layouts/about' %>
</header>